<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/styles.css" media="screen" charset="utf-8">
        <title>Hair Salon!</title>
    </head>
    <body>
        <div class="container">
            <h1>List Cleared</h1>
            <p><button type="submit" class="btn btn-success"><a href="/">Home</a></button></p>
        </div>
    </body>
</html>
